<div class="construction-section">
  <div class="construction"></div>
  <h1>Under construction</h1>
  <p>
    This particular part of the site is still being worked on, expect missing
    pieces or otherwise broken pages
  </p>
  <div class="construction"></div>
</div>

<router-outlet></router-outlet>
