<h1>About</h1>
<div class="construction"></div>
<h2>Under contruction</h2>
<p>
    Hello there!
    This website is still under contruction,
    it appears your here early,
    this message will likely not be here in a week or so,
    so check back then.
</p>
<p>
    Otherwise feel free to have a look at my <a href="https://github.com/jamtowers">GitHub</a>,
    <a href="https://www.linkedin.com/in/james-towers-62922a19b/">Linkedin</a>
    or even <a routerLink="/contact">contact me here</a>.
</p>
<div class="construction"></div>