<main>
  <h1>Hello world!</h1>
  <p>
    Welcome to my website! This exists primarily as a resume currently but I
    plan on using it as an information point for public
    <a routerLink="/projects">projects I'm working on</a>.
  </p>
  <h2>Who are you though?</h2>
  <p>
    Well if you haven't worked it out already my name is James Towers, I am a
    full stack web developer (though at this point I primarily do front end
    work).<br />
    Currently I'm working at
    <a href="https://redgum.com.au/" target="_blank">Redgum Technologies</a>
    where I bounce between front end development, designing systems, writing
    technical specifications and whatever other problems get thrown my way.
  </p>
  <h2>What can you do?</h2>
  <p>Anything! *</p>
  <p class="mat-caption">* Given enough time</p>
  <p>
    If you want a more specific answer than that have a look at the
    <a>Skills section</a> where I go into excruciating detail of what I've
    worked with before and rough indications on my overall competency in those
    skills.
  </p>
  <h2>Whatcha working on?</h2>
  <p>
    Lots of things! Most of them I can't share here though, though what I can
    share you can find <a routerLink="/projects">here</a>.
  </p>
</main>
