<mat-progress-bar *ngIf="pLoading" mode="indeterminate"></mat-progress-bar>

<main *ngIf="!pLoading">
  <header>
    <h1>{{ project.name }}</h1>
    <span class="spacer"></span>
    <span style="display: flex; align-items: center">
      <button
        mat-button
        title="Copy current link to share"
        (click)="copyLink()"
      >
        <mat-icon>share</mat-icon>&nbsp; Copy link
      </button>
      <a
        *ngIf="project.gitHubPath"
        mat-button
        title="Go to GitHub Repository"
        href="https://github.com/{{ project.gitHubPath }}"
      >
        <mat-icon class="textIcon" svgIcon="github"></mat-icon>GitHub Repo
      </a>
    </span>
  </header>
  <p>
    Added: {{ project.dateAdded
    }}<span *ngIf="project.dateUpdated">
      | Updated: {{ project.dateUpdated }}</span
    >
  </p>

  <mat-divider></mat-divider>

  <mat-progress-bar *ngIf="mdLoading" mode="indeterminate"></mat-progress-bar>

  <markdown
    [src]="'assets/projects/' + project.markdown"
    (load)="onLoad()"
  ></markdown>
</main>
