<mat-progress-bar *ngIf="ploading" mode="indeterminate"></mat-progress-bar>

<main *ngIf="!ploading">
  <header>
    <h1>{{project.name}}</h1>
    <span class="spacer"></span>
    <span style="display: flex; align-items: center;">
      <button mat-button title="Copy current link to share" (click)="copyLink()">
        <mat-icon>share</mat-icon>&nbsp; Copy link
      </button>
      <a *ngIf="project.gitHubPath" mat-button title="Go to GitHub Repository" href="https://github.com/{{project.gitHubPath}}">
        <img class="textIcon" src="assets/images/GitHub-Mark.svg" />GitHub Repo
      </a>
    </span>
  </header>
  <p>
    Added: {{project.dateAdded}}<span *ngIf="project.dateUpdated"> | Updated: {{project.dateUpdated}}</span>
  </p>
  
  <mat-divider></mat-divider>

  <mat-progress-bar *ngIf="mdloading" mode="indeterminate"></mat-progress-bar>

  <markdown [src]="'assets/projects/' + project.markdown" (load)="onLoad()"></markdown>

</main>
