<jam-skill-header [skill]="framework"></jam-skill-header>

<mat-progress-bar
  *ngIf="loading && framework.markdown"
  mode="indeterminate"
></mat-progress-bar>
<markdown
  *ngIf="framework.markdown"
  [src]="'assets/frameworks/' + framework.markdown"
  (load)="loading = false"
></markdown>
