.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

a {
  // styling used when card has an image to use
  & > img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    &:hover {
      filter: brightness(110%);
    }
  }
  // styling used when card doesn't have an image to use
  & > mat-icon {
    text-align: center;
    align-content: center;
    font-size: 5rem;
    height: 200px;
    line-height: 200px;
    & > :hover {
      box-shadow: inset 0 0 100vh 100vw rgba(255, 255, 255, 0.1);
    }
  }
}

mat-card-actions {
  display: flex;
  align-items: center;
}

.textIcon {
  height: 1.7em;
  margin-top: -3px;
}
