.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 800px) {
  mat-card {
    flex: 1 1 18em;
    max-width: 22em;
  }
}

@media (min-width: 800px) {
  mat-card {
    flex: 1 1 20em;
    max-width: 26em;
  }
}

mat-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.material-icons.mat-card-image {
  text-align: center;
  align-content: center;
  font-size: 5em;
  height: 2.4em;
  line-height: 2.4em;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}
a>img:hover {
  filter: brightness(110%);
}
a>mat-icon:hover {
  box-shadow: inset 0 0 100vh 100vw rgba(255, 255, 255, 0.1);
}

mat-card-actions {
  display: flex;
  align-items: center;
}

.textIcon {
  height: 1.7em;
  margin-top: -3px;
}
