<main>
  <h1>Frameworks</h1>
  <div>
    <p>Language</p>
    <p>Rough competency</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let framework of frameworks"
      [id]="framework.fragment"
      [expanded]="framework.fragment === fragment"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ framework.name }}
        </mat-panel-title>
        <mat-panel-description>
          <mat-progress-bar
            mode="determinate"
            [value]="framework.competency * 10"
          ></mat-progress-bar>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <jam-framework [framework]="framework"></jam-framework>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <span style="height: 50vh; display: block"></span>
</main>
