<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" title="Change site theme">
    <mat-icon class="toolbarIcon">palette</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      *ngFor="let theme of themes; let index = index"
      mat-menu-item
      (click)="setTheme(index)"
    >
      <mat-icon *ngIf="activeTheme === index" class="selected"
        >radio_button_checked</mat-icon
      >
      <mat-icon *ngIf="activeTheme !== index">radio_button_unchecked</mat-icon>
      <span>{{ theme[1] }}</span>
    </button>
  </mat-menu>
  <a
    mat-icon-button
    title="Go to Contact Page"
    routerLink="/contact"
    aria-label="Contact"
  >
    <mat-icon class="toolbarIcon">mail</mat-icon>
  </a>
  <a
    mat-icon-button
    title="Go to my GitHub Page"
    href="https://github.com/jamtowers"
    aria-label="GitHub"
  >
    <mat-icon height="32px" class="toolbarIcon" svgIcon="GitHub"></mat-icon>
  </a>
  <a
    mat-icon-button
    title="Go to my GitLab Page"
    href="https://gitlab.com/JamTowers"
    aria-label="GitLab"
  >
    <mat-icon height="32px" class="toolbarIcon" svgIcon="GitLab"></mat-icon>
  </a>
  <a
    mat-icon-button
    title="Go to my LinkedIn page"
    href="https://www.linkedin.com/in/james-towers-62922a19b/"
    aria-label="Linkedin"
  >
    <img height="32px" src="assets/images/LI-In-Bug-white.png" />
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/about" routerLinkActive="selected">About</a>
      <mat-expansion-panel
        class="mat-elevation-z0"
        routerLinkActive="selected"
        #prdd="routerLinkActive"
        [expanded]="prdd.isActive ? true : false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Projects</mat-panel-title>
        </mat-expansion-panel-header>
        <a
          mat-list-item
          routerLink="/projects"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
          >Overview</a
        >
        <a
          *ngFor="let project of projects"
          mat-list-item
          routerLink="/projects/{{ project.name }}"
          routerLinkActive="selected"
          >{{ project.name }}</a
        >
      </mat-expansion-panel>
      <mat-expansion-panel
        class="mat-elevation-z0"
        routerLinkActive="selected"
        #podd="routerLinkActive"
        [expanded]="podd.isActive ? true : false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Skills</mat-panel-title>
        </mat-expansion-panel-header>
        <a
          mat-list-item
          routerLink="/skills"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
          >Overview</a
        >
        <a
          mat-list-item
          routerLink="/skills/concepts"
          routerLinkActive="selected"
          >Dev concepts</a
        >
        <a
          mat-list-item
          routerLink="/skills/languages"
          routerLinkActive="selected"
          >Programming Languages</a
        >
        <a
          mat-list-item
          routerLink="/skills/frameworks"
          routerLinkActive="selected"
          >Frameworks</a
        >
        <a
          mat-list-item
          routerLink="/skills/additional"
          routerLinkActive="selected"
          >Additional</a
        >
      </mat-expansion-panel>
      <a mat-list-item routerLink="/contact" routerLinkActive="selected"
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <span class="spacer"></span>
    <footer>Copyright 2020 James Towers &copy;</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
