<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>&nbsp;James Towers</span>
  <span class="spacer"></span>
  <a mat-icon-button title="Go to Contact Page" routerLink="/contact" aria-label="Contact">
    <mat-icon class="mailIcon">mail</mat-icon>
  </a>
  <a mat-icon-button title="Go to my GitHub Page" href="https://github.com/jamtowers" aria-label="GitHub">
    <img height="32px" src="assets/images/GitHub-Mark.svg" />
  </a>
  <a mat-icon-button title="Go to my LinkedIn page" href="https://www.linkedin.com/in/james-towers-62922a19b/" aria-label="Linkedin">
    <img height="32px" src="assets/images/LI-In-Bug-white.png" />
  </a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/about" routerLinkActive="selected">About</a>
      <mat-expansion-panel class="mat-elevation-z0" routerLinkActive="selected" #prdd="routerLinkActive" [expanded]="prdd.isActive ? true : false">
        <mat-expansion-panel-header>
          <mat-panel-title>Projects</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/projects" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Overview</a>
        <a *ngFor="let project of projects" mat-list-item routerLink="/projects/{{project.name}}" routerLinkActive="selected">{{project.name}}</a>
      </mat-expansion-panel>
      <!-- <mat-expansion-panel class="mat-elevation-z0" routerLinkActive="selected" #podd="routerLinkActive" [expanded]="podd.isActive ? true : false">
        <mat-expansion-panel-header>
          <mat-panel-title>Portfolio</mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/portfolio" routerLinkActive="selected">Noteworthy Achevements</a>
        <a mat-list-item routerLink="/portfolio" routerLinkActive="selected">Concepts</a>
        <a mat-list-item routerLink="/portfolio" routerLinkActive="selected">Languages</a>
        <a mat-list-item routerLink="/portfolio" routerLinkActive="selected">Frameworks</a>
      </mat-expansion-panel> -->
      <!-- <a mat-list-item routerLink="/reference" routerLinkActive="selected">Reference</a> -->
      <a mat-list-item routerLink="/contact" routerLinkActive="selected">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
    <span class="spacer"></span>
    <footer color="primary">
      Copyright 2020 James Towers &copy;
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
