mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.toolbarIcon {
  width: 38px;
  font-size: 38px;
  text-align: center;
  &[svgicon] {
    height: 30px;
  }
}

mat-toolbar {
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  & > span,
  button,
  a {
    margin-left: 5px;
  }
}

mat-sidenav-container {
  flex: 1 1 auto;
}

mat-nav-list {
  mat-expansion-panel-header {
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
  }
  mat-expansion-panel {
    border-radius: 0px;
  }
  a.selected {
    width: calc(100% - 2px);
  }
}
