<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>&nbsp;James Towers</span>
  <span class="spacer"></span>
  <a mat-icon-button routerLink="/contact" aria-label="Contact">
    <mat-icon class="mailIcon">mail</mat-icon>
  </a>
  <a mat-icon-button href="https://github.com/jamtowers" aria-label="GitHub">
    <img src="../assets/GitHub-Mark-Light-32px.png" />
  </a>
  <a mat-icon-button href="https://www.linkedin.com/in/james-towers-62922a19b/" aria-label="Linkedin">
    <img height="32px" width="37.6px" src="../assets/LI-In-Bug-white.png" />
  </a>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <main>
      <router-outlet></router-outlet>
    </main>
    <span class="spacer"></span>
    <footer color="primary">
      Copyright 2020 James Towers &copy;
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
