@use "@angular/material" as mat;

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // Inline link colouring
  a:not(.mat-list-item):not(.mat-button-base) {
    color: mat.get-color-from-palette($accent);

    &:hover {
      // mouse over
      color: mat.get-color-from-palette($accent, lighter);
    }

    &:active {
      // during click
      color: mat.get-color-from-palette($accent, darker);
    }
  }

  mat-icon.selected {
    color: mat.get-color-from-palette($accent) !important;
  }

  .selected {
    & > * {
      color: mat.get-color-from-palette($accent);
    }

    .mat-expansion-panel-header-title {
      color: mat.get-color-from-palette($accent);
    }
  }

  .material-icons.mat-card-image {
    background-color: mat.get-color-from-palette($background, disabled-button);
  }

  mat-sidenav {
    a.selected {
      border-left: 2px solid mat.get-color-from-palette($accent, darker);
    }
    mat-expansion-panel {
      a,
      mat-expansion-panel {
        border-left: 2px solid mat.get-color-from-palette($primary, darker);
      }
      .selected {
        border-left: 3px solid mat.get-color-from-palette($accent, darker);
      }
    }
  }
}

// typography editing isn't needed atm
// @mixin app-typography($config) {
//   a {
//     font: {
//       family: mat.font-family($config, body-1);
//       size: mat.font-size($config, body-1);
//       weight: mat.font-weight($config, body-1);
//     }
//   }
// }
