@use "@angular/material" as mat;
@import "./theme-mixins.scss";

// Include the common styles for Angular Material.
@include mat.core();

// Define the default theme (same as the example above).
$default-primary: mat.define-palette(mat.$purple-palette);
$default-accent: mat.define-palette(mat.$green-palette, A400, A200, A700);
$default-warn: mat.define-palette(mat.$deep-orange-palette);
$default-theme: mat.define-dark-theme(
  $default-primary,
  $default-accent,
  $default-warn
);

// Include the default theme styles.
@include mat.all-component-themes($default-theme);
// Include theme styles for custom components.
@include app-theme($default-theme);

// Light theme
$light-primary: mat.define-palette(mat.$teal-palette);
$light-accent: mat.define-palette(mat.$indigo-palette, A400, A200, A700);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme(
  $light-primary,
  $light-accent,
  $light-warn
);

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include app-theme($light-theme);
  @import "node_modules/prismjs/themes/prism";
}
