@import '~@angular/material/theming';
@import './theme-mixins.scss';

// Include the common styles for Angular Material.
@include mat-core();

// Define the default theme (same as the example above).
$default-primary: mat-palette($mat-purple);
$default-accent:  mat-palette($mat-green, A400, A200, A700);
$default-warn:    mat-palette($mat-deep-orange);
$default-theme:   mat-dark-theme($default-primary, $default-accent, $default-warn);

// Include the default theme styles.
@include angular-material-theme($default-theme);
// Include theme styles for custom components.
@include app-theme($default-theme);

// Light theme`
$light-primary: mat-palette($mat-teal);
$light-accent:  mat-palette($mat-indigo, A400, A200, A700);
$light-warn:    mat-palette($mat-red);
$light-theme:   mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
  @include angular-material-theme($light-theme);
  @include app-theme($light-theme);
}
