<div>
  <span *ngIf="skill.related">
    Related:
    <span *ngFor="let link of skill.related; let last = last">
      <a [routerLink]="link.path" [fragment]="link.fragment">{{ link.name }}</a>
      <span *ngIf="!last"> | </span>
    </span>
  </span>
  <span class="spacer"></span>
  <a *ngIf="skill.url" [href]="skill.url">{{ skill.name }} docs</a>
</div>
