<jam-skill-header [skill]="language"></jam-skill-header>

<mat-progress-bar
  *ngIf="
    (loading && language.markdown) ||
    (exampleLoading && language.exampleMarkdown)
  "
  mode="indeterminate"
></mat-progress-bar>
<div>
  <markdown
    *ngIf="language.markdown"
    [src]="'assets/languages/' + language.markdown"
    (load)="loading = false"
  ></markdown>
  <markdown
    *ngIf="language.exampleMarkdown"
    [src]="'assets/languages/' + language.exampleMarkdown"
    (load)="exampleLoading = false"
  ></markdown>
</div>
