div {
  display: flex;
  justify-content: space-between;
  & > *:not(:last-child) {
    margin-right: 1em;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    & > *:not(:last-child) {
      margin-right: 0;
    }
  }
  & > markdown {
    flex-grow: 1;
  }
}
