<main>
  <h1>Languages</h1>
  <section *ngFor="let sectionKey of languageSectionsKeys">
    <h2>{{ sectionKey }}</h2>
    <div>
      <p>Language</p>
      <p>Rough competency</p>
    </div>
    <mat-accordion *ngIf="languageSections">
      <mat-expansion-panel
        *ngFor="let language of languageSections[sectionKey]"
        [id]="language.fragment"
        [expanded]="language.fragment === fragment"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ language.name }}
          </mat-panel-title>
          <mat-panel-description>
            <mat-progress-bar
              mode="determinate"
              [value]="language.competency * 10"
            ></mat-progress-bar>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <jam-language [language]="language"></jam-language>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <span style="height: 50vh; display: block"></span>
</main>
