/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

main {
  padding: 1rem 2rem;
}

footer {
  padding: 1rem 2rem;
  text-align: center;
}

/// Angular Material Overrides
// sidebar
.mat-drawer-inner-container {
  
  .mat-expansion-panel-header {
    padding: 0 16px !important;
    font-size: 16px;
  }

  .mat-expansion-panel-body {
    padding: 0;

    &>a>div {
      padding: 0 24px !important;
      font-size: 15px;
    }
  }
}
