/* You can add global styles to this file, and also import other style files */

@import "../node_modules/prismjs/themes/prism-okaidia.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

jam-root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 800px) {
  main {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 800px) {
  main {
    padding: 1rem 2rem;
  }
}

footer {
  padding: 1rem 2rem;
  text-align: center;
}

mat-sidenav {
  .mat-expansion-panel-body {
    padding: 0;
  }
}
